{% macro navbar(ruta, user) %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">{{app_name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if ruta == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn_add nav-link {% if ruta == '/new_question' %}active{% endif %}" href="/new_question" hidden>Add a question</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <p class="text-white me-4">{{ user.name }}</p>
        <p class="usuario text-white me-4" hidden>{{ user.is_admin}}</p>

        <a href="/logout" class="btn btn-outline-danger" type="submit">Logout</a>
      </form>
    </div>
  </div>
</nav>
<script>
  const us = document.querySelector('.usuario')
  if (us.innerHTML == 'true') {
    const bton_add = document.querySelector('.btn_add')
    bton_add.removeAttribute('hidden')
  }
</script>
{% endmacro %}
