<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tivia Test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      {% block main %}
        <h1 class="text-center text-primary">Por implementar</h1>
      {% endblock  %}
    </div>
    <footer class="row mt-4">
      <div class="col-12 md-12 mt-5">
        <p class="text-center bg-dark text-white"> Project Trivia module 8, created by Gregory Cortez, Mónica Cofré & Mauricio Vera </p>        
      </div>
    </footer>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>